{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }} <!--symfony form twig-->
    {{ form_row(form.name) }}
    {{ form_row(form.price) }}
    {{ form_row(form.description) }}
    {{ form_row(form.stock) }}
    {{ form_row(form.status) }}
    {{ form_row(form.category) }}
    <button type="submit">Ajouter</button>
{{ form_end(form) }}
{% endblock %}