{% extends 'base.html.twig' %}

{% block content %}
<img src="{{ asset('images/categories/Categ_' ~ id ~ '.png' ) }}" class="image_categ"/>
<div class="wrapper">
    {% for p in pagination %}
    <div class="product">
        <div class="full_product">
            <div class="selected" onclick="location.href='{{path('detail', {id: p.id})}}'">
            <img src="{{ p.Image }}" class="product_image"></a>
            <p class="product_name">{{p.name}}</p><br>
            <div class="line"></div>
            <div class="prix">
                <img src="{{ asset('images/coupon.png') }}" class="coupon"/>
                <p class="price_1">x{{ p.price }}</p>
            </div>
            </div>
            <div class="product_buttons">
                <a type="button" href="{{ path('addCart', {id: p.id}) }}"><img src="{{ asset('images/Shopping_cart_black.png') }}"/></a>
                <button type="button"><img src="{{ asset('images/Favorite.png') }}"/></button>
                {% if is_granted('ROLE_ADMIN') %}
                    <form action="{{ path('delete', {id: p.id}) }}" method="post" onsubmit="return confirm('{{ "Accueil.confirm" | trans }}');" class="delete_form">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ p.id) }}">
                        <button type="submit" id="delete">{{"Accueil.delete" | trans}}</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}